<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
  integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<div *ngIf="currentUser">
  <div class="w3-row" fxShow="true" fxHide.lt-md>
    <div class="w3-container w3-quarter w3-hide-small">
      <img src="../../assets/images/logo_GBT.png" class="img-responsive" />
    </div>
    <div class="w3-ligth w3-container w3-threequarter header-text">
      <span>Consulta Virtual</span>
    </div>

  </div>
  <!-- <div class="w3-display-container w3-ligth" style="height: 80px">
    <div class="w3-display-topleft">
      <img src="../../assets/images/logo_GBT.png" height="60%" width="60%" class="w3-image"  />
    </div>
    <div class="w3-display-topmiddle header-text">Consulta Virtual</div>
  </div>-->
  <!-- <div class="w3-bar w3-blue-grey">

    <a class="w3-bar-item w3-button" *ngIf="isDoctor" routerLink="/doctor">
      <i class="fa fa-home m-auto"></i>
      <span class="header_text">Inicio</span></a>
    <a class="w3-bar-item w3-button" style="margin-right: 10px;" *ngIf="isPatient" routerLink="/patient">
      <i class="fa fa-home m-auto"></i>
      <span class="header_text">Inicio</span></a>
    <a routerLink="/appointment" class="w3-bar-item w3-button">
      <i class="fa fa-calendar"></i>
      <span class="header_text">Calendario</span></a>

    <a *ngIf="isDoctor" routerLink="/video" class="w3-bar-item w3-button">
      <i class="fas fa-chalkboard-teacher"></i>
      <span class="header_text">Sala de espera</span></a>
    <a *ngIf="isPatient" routerLink="/videoconf" class="w3-bar-item w3-button">
      <i class="fas fa-chalkboard-teacher"></i>
      <span class="header_text">consulta virtual</span></a>
    <a routerLink="/conversations" class="w3-bar-item w3-button">
      <i class="fa fa-comments"></i>
      <span class="header_text">Conversaciones</span></a>
    <a *ngIf="isDoctor" routerLink="/users" class="w3-bar-item w3-button">
      <i class="fa fa-users"></i>
      <span class="header_text">Pacientes</span></a>
    <a *ngIf="isDoctor" routerLink="/sessions" class="w3-bar-item w3-button">
      <i class="fa fa-history"></i>
      <span class="header_text">Sesiones</span></a>
    <a matTooltip="Cerrar Sesion" (click)="logout()" class="w3-bar-item w3-button w3-right">
      {{ currentUser.firstName }} {{ currentUser.lastName }}
      <i (click)="logout()" class="fa fa-sign-out-alt"></i>
    </a>
  </div>-->


  <div>
    <mat-toolbar style="height: 40px;min-height: 40px;" color="primary" class="w3-blue-grey">
      <mat-toolbar-row>

        <button mat-icon-button (click)="toggleNavbar()" fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon> <span style="font-size: 25px;margin-left: 15px;">Consulta Virtual</span>
        </button>

        <div class="w3-bar w3-blue-grey header_items" fxShow="true" fxHide.lt-md>
          <!-- The following menu items will be hidden on both SM and XS screen sizes -->
          <span class="header_item" *ngIf="isDoctor">
          <a routerLink="/doctor">
            <i class="fa fa-home m-auto"></i>
            <span class="header_text">Inicio</span></a>
          </span>
          <span *ngIf="isPatient" class="header_item">
            <a  routerLink="/patient">
              <i class="fa fa-home m-auto"></i>
              <span class="header_text">Inicio</span></a>
          </span>
          <span class="header_item">
            <a routerLink="/appointment">
              <i class="fa fa-calendar"></i>
              <span class="header_text">Calendario</span></a>
          </span>
          <span class="header_item" *ngIf="isDoctor">
            <a routerLink="/video">
              <i class="fas fa-chalkboard-teacher"></i>
              <span class="header_text">Sala de espera</span></a>
          </span>
          <span class="header_item" *ngIf="isPatient">
            <a  routerLink="/videoconf">
              <i class="fas fa-chalkboard-teacher"></i>
              <span class="header_text">consulta virtual</span></a>
          </span>
          <span class="header_item">
            <a routerLink="/conversations">
              <i class="fa fa-comments"></i>
              <span class="header_text">Conversaciones</span></a>
          </span>
          <span class="header_item" *ngIf="isDoctor">
            <a routerLink="/users">
              <i class="fa fa-users"></i>
              <span class="header_text">Pacientes</span></a>
          </span>
          <span class="header_item" *ngIf="isDoctor">
            <a routerLink="/sessions">
              <i class="fa fa-history"></i>
              <span class="header_text">Sesiones</span></a>
          </span>
           <span class="header_item" *ngIf="isDoctor">
            <a routerLink="/dashboard">
              <i class="fa fa-history"></i>
              <span class="header_text">Dashboard</span></a>
          </span>
          <span class="header_item">
            <a matTooltip="Cerrar Sesion" (click)="logout()" class="w3-right">
              {{ currentUser.firstName }} {{ currentUser.lastName }}
              <i (click)="logout()" class="fa fa-sign-out-alt"></i>
            </a>
          </span>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
      <ul class="header_l navbar-nav mr-auto" style="color: #607d8b;">
        <li class="nav-item">
          <a matTooltip="Cerrar Sesion" (click)="logout()" class="w3-bar-item w3-button">
            <i (click)="logout()" class="fa fa-sign-out-alt"></i>
            <span class="header_text">{{ currentUser.firstName }} {{ currentUser.lastName }}</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="isDoctor">
          <a class="w3-bar-item w3-button" routerLink="/doctor">
            <i class="fa fa-home m-auto"></i>
            <span class="header_text">Inicio</span></a>
        </li>
        <li class="nav-item" *ngIf="isPatient"  (click)="toggleNavbar()">
          <a class="w3-bar-item w3-button" style="margin-right: 10px;" routerLink="/patient">
            <i class="fa fa-home m-auto"></i>
            <span class="header_text">Inicio</span></a>
        </li>
        <li class="nav-item"   (click)="toggleNavbar()">
          <a routerLink="/appointment" class="w3-bar-item w3-button">
            <i class="fa fa-calendar"></i>
            <span class="header_text">Calendario</span></a>
        </li>
        <li class="nav-item" *ngIf="isDoctor"   (click)="toggleNavbar()">
          <a routerLink="/video" class="w3-bar-item w3-button">
            <i class="fas fa-chalkboard-teacher"></i>
            <span class="header_text">Sala de espera</span></a>
        </li>
        <li class="nav-item" *ngIf="isPatient"   (click)="toggleNavbar()">
          <a routerLink="/videoconf" class="w3-bar-item w3-button">
            <i class="fas fa-chalkboard-teacher"></i>
            <span class="header_text">consulta virtual</span></a>
        </li>
        <li class="nav-item"   (click)="toggleNavbar()">
          <a routerLink="/conversations" class="w3-bar-item w3-button">
            <i class="fa fa-comments"></i>
            <span class="header_text">Conversaciones</span></a>
        </li>
        <li class="nav-item"   (click)="toggleNavbar()">
          <a *ngIf="isDoctor" routerLink="/users" class="w3-bar-item w3-button">
            <i class="fa fa-users"></i>
            <span class="header_text">Pacientes</span></a>
        </li>
        <li class="nav-item"   (click)="toggleNavbar()">
          <a *ngIf="isDoctor" routerLink="/sessions" class="w3-bar-item w3-button">
            <i class="fa fa-history"></i>
            <span class="header_text">Sesiones</span></a>
        </li>
        <li class="nav-item" (click)="toggleNavbar()">
          <a *ngIf="isDoctor" routerLink="/dashboard" class="w3-bar-item w3-button">
            <i class="fa fa-history"></i>
            <span class="header_text">Dashboard</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>