img {
    position: initial;
    padding-left: 20px;
    padding-top: 10px;
}
.menu-spacer {
  flex: 1 1 auto;
}
.header_text{
margin-left: 5px;
}
.header_l li{
    border-bottom: 1px solid;
}
@media screen and (min-width: 601px) {
.header-text{
    font-size:50px;
    color:darkblue;
    padding-left: 15%;
}
.img-responsive{
    height: 77px;
    width: 145px;
}
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
.header-text{
    font-size:35px;
    color:darkblue;
    padding-left: 15%;
}
.img-responsive{
    height: 57px;
    width: 125px;
}
}