<body>
  <div class="jumbotron" style="padding: 1rem 1rem">
    <div class="page-header">
      <span class="title">Sala de espera virtual </span>
      <i matTooltip="En el listado apareceran los pacientes conectados y estan a la espera de realizar la consulta"
        matTooltipPosition='above' id="info" class="fa fa-info-circle m-auto fa-2x"></i>
    </div>
    <div class="container">
      <div class="row">

        <div class="col-sm-1 ">
        </div>

        <div class="col-sm-10 inicio">

          <ul class="w3-ul w3-border list-group">
            <div *ngIf="users.length > 0">
              <li>
                <h2>Usuarios conectados</h2>
              </li>
              <li *ngFor="let user of users " class="w3-bar list-group-item">
                <span (click)="selectUser(user.id)" class="w3-bar-item w3-button w3-xlarge w3-right">
                  <i class="fas fa-video "></i>
                </span>
                <i class="w3-bar-item w3-circle far fa-user-circle fa-3x"></i>

                <div class="w3-bar-item">
                  <span class="w3-large">{{user.firstName}} {{user.lastName}}</span><br>
                  <span>Cita a las 12:30 horas </span><br>
                  <span>Conectado desde: {{user.conected | date:'medium'}}</span>
                </div>
              </li>
            </div>
            <div *ngIf="users.length == 0">
              <li>
                <h2>No hay usuarios conectados</h2>
              </li>
            </div>
          </ul>
        </div>
        <div class="col-sm-1">
        </div>

      </div>
    </div>

  </div>
</body>