<body>
<div class="container">
<div class="row">
<div class="col-sm grupo">
<h5>LISTA PACIENTES</h5>
<ul>
  <li *ngFor="let user of users" >
    {{user.username}} ({{user.firstName}} {{user.lastName}}

  </li>
</ul>
<p></p>
<br />


<h5>SESIONES ACTIVAS</h5>
<ul>
  <li *ngFor="let session of sessionprueba.content">
    <span> {{session.sessionId}}</span><br />
    <span>Conectado desde: {{session.createdAt | date:'medium'}}</span><br>
    <p class="btn btn-link" (click)="selectUser(session.sessionId)" class="text-success">Iniciar videoconferencia</p>
  </li>
</ul>
</div>
</div>
</div>
</body>