<p>
  doctor works!
</p>
<h1>Hi {{currentUser.firstName}}!</h1>
<h3>Pacientes :</h3>

LISTA PACIENTES
<ul>
  <li *ngFor="let user of users">
    {{user.username}} ({{user.firstName}} {{user.lastName}} 
  </li>
</ul>


SESIONES ACTIVAS
<ul>
  <li *ngFor="let session of sessionprueba.content">
    <span>conectado: {{session.sessionId}}</span>
    <p></p>
     <span> desde las {{session.createdAt | date:'medium'}}</span><br>
    <a routerLink="/videoconf" class="btn btn-link">Iniciar videoconferencia</a>

  </li>
</ul>
