
<body>
  <div class="jumbotron">
    <div class="container">
      <h1>Bienvenido doctor {{currentUser.firstName}}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 inicio">
    </div>

    <div class="col-sm-4 inicio">
      <h2>PRÓXIMAS CITAS:</h2>
        <hr>

      <span>Paciente: Francisco</span><br />
      <span>Fecha: 12/05/2019, 10:30</span><br />


    </div>

    <div class="col-sm-4 inicio">
      <h2>MENSAJES: {{noread.length}}</h2>
        <hr>
      <div *ngFor="let conversation of conversations ">
        <div class="container contenido" *ngFor="let message of conversation.messages | isPresent">
          <span style="font-weight: bold" >{{conversation.title}}</span>
          <span>{{message.text}} </span><br />
          <span>Leído: {{message.read}}</span><br />



        </div>
      </div>


    </div>
      <div class="col-sm-2 inicio">
      </div>
  </div>
  <hr>
</body>