@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
  

html {
  height: 100%;
}
body {
  margin: 0;
  font-family: Verdana,sans-serif;
  height: 100%;
  width: 100%;
}
img {
  position: absolute;
  bottom: 50px;
  left: 44%;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.backgroung_login{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.login{
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:0 0 10px #4e707c;
    -webkit-box-shadow:0 0 10px #4e707c;
    box-shadow:0 0 10px #4e707c;
    text-align: center;
    margin:5em auto;
    background:#fff;
    border:8px solid #eee;
    padding: 10px;
    height: 400px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
}

.form-control{
    background:#eee;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    text-align:left;
    position:relative;
    height: 50px;
    margin-bottom: 20px;
    } 

#matForm{
  font-family: Verdana,sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
#matForm2{
  font-family: Verdana,sans-serif;
  font-size: 15px;
  line-height: 1.5;
  width: 300px;
}


.option{
  font-family: Verdana,sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.prueba{
  margin-top: 10px;
  margin-bottom: 10px;
}

.register {
  height: relative;
  background:#fff;

}

.infoP {
  font-family: Verdana,sans-serif;
  font-size: 15px;
  line-height: 1.5;

}

.grupo {
	margin-top: 50px;
  width: 250px;
  margin-left: 50px;
  margin-right: auto;
}


.mensajes {
  margin-top: 100px;
  margin-bottom: auto;
	padding: 20px;
	border: 2px solid #343a40;
  border-radius: 5px;
  color:rgb(15, 15, 15);
}
.contenido{
  margin-top: 5px;
  margin-bottom: auto;
  margin-left: 2%;
  margin-right: 2%;
}

.doctor{
 background-color: rgb(199, 245, 155);
 border: 2px solid #343a40;
 border-radius: 5px;
 color:rgb(15, 15, 15);
 margin-right: auto;
 margin-left: 20%;
}

.paciente{
 background-color: rgb(243, 245, 155);
  border: 2px solid #343a40;
  border-radius: 5px;
  color:rgb(15, 15, 15);
  margin-left: auto;
  margin-right: 20%;
}

.read{
  fill:#4fc3f7;
}
.noread{
  fill:#343a40;
}


.inicio {
  height:400px;
	margin-top: 50px;
  margin-bottom: auto;

}


.titulo2{
  margin-top:50px;
  margin-bottom: auto;
}

